#home {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: hsl(270 5% 20%);
  overflow-y: auto;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 14px;
  }
  &::-webkit-scrollbar-track {
    background-color: hsl(270 12.5% 12.5% / 0.4);
  }
  &::-webkit-scrollbar-thumb {
    background-color: hsl(270 17.5% 27.5% / 0.4);
    border-radius: 8px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: hsl(270 20% 30% / 0.4);
  }
}