.home {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: hsl(270 25% 13.5%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;

  &::-webkit-scrollbar {
    width: 14px;
  }
  &::-webkit-scrollbar-track {
    background-color: hsl(270 12.5% 12.5% / 0.4);
  }
  &::-webkit-scrollbar-thumb {
    background-color: hsl(270 17.5% 27.5% / 0.4);
    border-radius: 8px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: hsl(270 20% 30% / 0.4);
  }
}