.authentication-container {
  position: absolute;
  left: 0;
  top: calc(200px + 50px);
  width: 100%;
  height: 255px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  > form {
    position: absolute;
    width: 250px;
    height: 100%;
    z-index: 1000;
  }
}


.authentication-messages {
  position: relative;
  width: 135%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translateX(-14%);
  color: hsl(5 60% 40%);
  font-size: 20px;
  font-weight: 400;
  font-family: sans-serif;
  white-space: pre-line;
  line-height: 1.0;
  margin-bottom: 10px;
  user-select: none;
}

.show-authentication-errors-1::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2.5px;
  background-color: hsl(290 50% 40%);
  bottom: -2px;
  box-shadow: 0 -2px 7px 0 hsl(290 40% 50%);
}
.show-authentication-errors-2::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2.5px;
  background-color: hsl(290 50% 40%);
  bottom: -9px;
  box-shadow: 0 -2px 7px 0 hsl(290 40% 50%);
}
.show-authentication-succesful::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2.5px;
  background-color: hsl(170 55% 40%);
  bottom: 0;
  box-shadow: 0 -2px 7px 0 hsl(170 40% 50%);
}

.inputs-container {
  position: relative;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  input {
    width: 100%;
    height: 40px;
    background-color: hsl(270 20% 40%);
    border: 3px solid hsl(270 20% 25%);
    font-size: 18px;
    letter-spacing: 0.75px;
    outline: none;
    border-radius: 12px;
    padding-left: 8px;
    user-select: none;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  
    &::placeholder {
      color: hsl(270 25% 17.5%);
      font-weight: 500;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    &:focus {
      border-color: hsl(270 30% 50%);
      box-shadow: 0 0 8px 1px hsl(270 30% 50%);
    }
  }
}


.buttons-container {
  position: relative;
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  
  button {
    cursor: pointer;
    width: 115px;
    height: 90%;
    border-radius: 14px;
    background-color: hsl(270 20% 40%);
    border: 3px solid hsl(270 20% 25%);
    color: hsl(270 25% 17.5%);
    font-size: 18px;
    font-weight: 600;
    font-family: sans-serif;
    user-select: none;
  }
}

